.header {
    position: absolute;
    width: 1440px;
    height: 125px;
    left: 0px;
    top: 0px;
    background: #F6EBDA;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.shop-name {

    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;

    color: #115052;
    padding: 1rem;
    margin-left: 3rem;
    font-size:10vw
}

.logos{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #115052;
    margin-bottom: 0;
    margin-top: 2rem;
    margin-right: 3rem;

}